# Binaries
gamebot
*.exe
*.dll
*.so
*.dylib
bin/

# IDEs
.idea/
.vscode/
*.swp
.claude
*.md

# OS
.DS_Store

# Assets (Ignore PNGs but keep directories)
assets/**/*.png
assets/*.png
!assets/**/.keep
/*.png

# log
logs/